
html, body {
    height: 100%;
    background: #f3f4f6; /* gray-100 */
    touch-action: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.50;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    overflow: hidden;
}

#myViewer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
    z-index: 10000;
    /*overflow: hidden;*/
    position: absolute;
    left: 0;
    right: 0;
    --left: 0;
    --right: 0;
    transition: all 300ms ease-in-out;
}

#myToolbar {
    min-width: 400px;
    top: 0;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 100000;
    pointer-events: none;
    position: fixed;
    left: 95px;
    transition: all 300ms ease-in-out;
}

#myCanvas {
    width: 100%;
    height: 100%;
    background: #f3f4f6; /* gray-100 */
    cursor: default;
    pointer-events: all;
    margin: 0;
    position: relative;
}

#myNavCubeCanvas {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 0;
    right: 0;
    z-index: 200000;
}

#myExplorer {
    position: absolute;
    height: 100%;
    color: #fff;
    overflow: auto;
    border-right: 2px solid #374151; /* gray-700 */
    padding: 0px;
    user-select: none;
    top: 0;
    left: 0;
    z-index: 10;
    width: 20rem; /* 320px */
    transition: all 100ms ease-in-out;
}

#explorer_toggle {
    display: none;
}

#myInspector {
    position: absolute;
    height: 100%;
    color: #fff;
    overflow: auto;
    border-left: 2px solid #374151; /* gray-700 */
    padding: 0;
    top: 0;
    right: 0;
    z-index: 10;
    width: 358px;
    transition: all 100ms ease-in-out;
}

#inspector_toggle {
    display: none;
}

